.dashboard {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr 1.5fr 1fr;
    grid-template-rows: [row1-start] 70% [row1-end] 100% 100% 120%;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar content content content"
        "sidebar content content content"
        "sidebar content content content";
}

/*  sidebar section */
.sidebar {
    grid-area: sidebar;
    background-color: rgb(86, 159, 255);
    color: whitesmoke;
    display: grid;
    justify-items: center;
    grid-template-rows: 10% 30% 20%;
    row-gap: 6%;
    padding-left: 20%;
    }

.title {
    width: 100%;
    display: grid;
    justify-items:start;
    padding-top: 15%;
}

.mid {
    width: 100%;
    display: grid;
    justify-items: start;
}

.bot {
    width: 100%;
    display: grid;
    justify-items: start;
}

/* header section */
.header {
    grid-area: header;
}

/* champion content section */ 
.content {
    grid-area: content;
    background-color: rgb(230, 229, 238);
    display: grid;
    padding-top: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 25% 25% 5% 30% 10%;
    grid-template-areas: 
        "champ-title champ-title history-title"
        "champions champions history"
        "champions champions history"
        "champions champions history"
        "champions champions stats"
        "champions champions stats";
}

.champ-title {
    grid-column: 1 / 3;
    padding-left: 3%;
    padding-right: 3%;
}

.champions {
    display: grid;
    grid-area: champions;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row: 2/6;
    gap: 3% 3%;
    padding-left: 3%;
    padding-right: 3%;

}

.champions > div {
    background-color: white;
    border-radius: 5px;
}

/* history section */
.history-title {
    grid-area: history-title;
    padding-left: 3%;
}

.recent-history {
    grid-area: history;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-row: 2 / 4;
    border-radius: 5px;
    gap: 2%;
    padding-left: 3%;
}

.recent-history > div {
    border-radius: 5px;
}

.match-one {
    background-color: rgb(197, 230, 197);
    border-left: solid 8px rgb(70, 180, 70);
    width: 100%;
    height: 100%;
}

.match-two {
    background-color: rgb(230, 193, 193);
    border-left: solid 8px rgb(248, 54, 54);
    width: 100%;
    height: 100%;
}

.match-three {
    background-color: rgb(230, 193, 193);
    border-left: solid 8px rgb(248, 54, 54);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* profile stats section */

.stats-title {
    grid-area: stats-title;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    padding-top: 3%;
}

.profile-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10% 10%;
    grid-area: stats;
    background-color: white;
    grid-row: 5/6;
    padding: 3%;
    border-radius: 5px;
    align-items: center;
}

.profile-stats > div {
    border-radius: 5px;
    width: 100%;
    height: 40%;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    padding: 5px;
    text-align: center;
}

.snowballs {
    background-color: rgb(70, 180, 70);
}

.great-shyvana {
    background-color: rgb(70, 180, 70);
}

.bad-smite {
    background-color: rgb(248, 54, 54);
}

.hotstreak {
    background-color: rgb(70, 180, 70);
}